@import "../styles/normalize.css";
@import '../styles/variables.css';

main {
    background-color: var(--color-smoky);
    border-radius: 24px;
    min-height: 100vh;
    width: 100%;
}

/*tooltip start*/
.tooltip-wrapper {
    position: relative;
}
.tooltip {
    opacity: 0;
    visibility: hidden;
    width: 280px;
    position: absolute;
    z-index: 10;
    padding: 11px 16px 13px 16px;
    border-radius: 8px;
    background: var(--color-white);
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.30), 0 2px 10px 0 rgba(0, 0, 0, 0.15);
    transition: opacity 0.3s, visibility 0.3s;
    top: 100%;
}
.tooltip-toggle {
    cursor: pointer;
}
.tooltip-toggle:focus-visible ~ .tooltip,
.tooltip-toggle:hover ~ .tooltip {
    opacity: 1;
    visibility: visible;
}
.tooltip__title {
    color: var(--color-black);
}
/*tooltip end*/


.main__cart-container {
    padding: 0 24px;
    gap: 32px;

    display: grid;
    grid-template-columns: 2fr 1fr;
}

.main__cart-left {
    margin-top: 34px;
}

.main__cart-left-title {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.28px;
    margin-bottom: 34px;
}
.cart__accordion{
    display: flex;
    border-bottom: 1px solid var(--color-ruler);
    padding-bottom: 16px;
    margin-bottom: 12px;
}

.cart__accordion-btn {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;

}
.cart__accordion-btn img {
    transition: all .2s ease-in-out;
}
.active-img {
    transition: all .2s ease-in-out;
    transform: rotateX(180deg);
}

.missing__items,
.products__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.accordion-hidd {
    display: none !important;
}
.products__items-wrapper,
.missing__items-wrapper {
    display: block;
}
.products__item-description {
    display: flex;
    align-items: center;
}
.missing-description__img,
.item-description__img {
    margin-right: 16px;
    flex: 1 0 auto;
    aspect-ratio: 72 / 96;
    max-height: 96px;
    border-radius: 8px;
    overflow: hidden;
}
.info-size__mobile {
    display: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: calc(100% - 11px);
    min-width: 22px;
    position: absolute;
    bottom: 8px;
    left: 4px;
    z-index: 3;
    padding: 1px 1px;
    border-radius: 4px;
    background-color: #fff;
    text-align: center;
}
.missing-description__img img,
.item-description__img img {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: contain;
}
.missing-description__info,
.item-description__info {
    display: flex;
    flex-direction: column;
    max-width: 275px;
}
.missing-description__info-title,
.item-description__info-title {
    margin: 0 0 8px 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;


}
.missing-description__info-subtitle,
.item-description__info-subtitle {
    display: flex;
    gap: 16px;
    margin-bottom: 8px;
}
.missing-description__info-color,
.missing-description__info-size,
.item-description__info-color,
.item-description__info-size {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.item-description__info-store p,
.item-description__info-store-title {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: var(--color-gray)
}
.item-description__info-store-seller,
.item-description__info-store {
    display: flex;
    gap: 6px;
    align-items: center;
}
.item__price-mobile {
    display: none;
    column-gap: 5px;
}

.item__sum-total {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: baseline;
}

.item__sum-total-value {
    line-height: 20px;
}

.item__sum-total-currency {
    margin-left: 5px;
}

.item-description__tooltip {
    display: flex;
    flex-direction: column;
    width: 290px;
}
.item-description__tooltip h5 {
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    margin: 0;
}
.item-description__tooltip p {
    color: var(--color-black);
}
.item-description__tooltip p:first-of-type {
    padding: 8px 0;
}
.missing__item-btn-wrap,
.products__item-price {
    width: 226px;
    display: flex;
    gap: 5px;
    flex-shrink: 0;
    justify-content: space-between;
}
.missing__item-btn-wrap-wrap,
.products__item-quantity {
    flex: 1 0 auto;
    max-width: 100px;
}
.products__item-count {
    display: flex;
    max-width: 100px;
    margin-bottom: 7px;
    border-radius: 8px;
    background: var(--color-white);
    overflow: hidden;
}

.products__item-count-minus,
.products__item-count-plus {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;
}

.products__item-count-minus:focus-visible,
.products__item-count-plus:focus-visible,
.products__item-count-minus:hover,
.products__item-count-plus:hover {
    background-color: #ccc;
}

.products__item-count-minus {
    padding: 10px 0 10px 8px;
    flex: 1;
}

.products__item-count-minus  {
    position: relative;
    top: -3px;
    left: -3.5px;
}

.products__item-count-input {
    width: 50%;
    flex: 1;
    text-align: center;
    background: inherit;
    border: none;
    margin: 0;
    padding: 0;
}

.products__item-count-plus {
    padding: 10px 8px 10px 0;
    flex: 1;
}

.products__item-count-plus {
    position: relative;
    top: -3px;
    left: 3.5px;
}

.products__item-stay {
    margin-bottom: 16px;
}
.products__item-stay p{
    font-size: 13px;
    line-height: 16px;
    color: var(--color-notification);
    font-weight: 400;
}
.missing__item-btn,
.products__item-quantity-btn {
    display: flex;
    justify-content: end;
    gap: 16px;
}


.products__item-price-new {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: baseline;
    gap: 6px;
    margin-bottom: 6px;
}
.products__item-price-new h5 {
    margin: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 140% */
    letter-spacing: -0.2px;
}
.products__item-price-new p {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}
.products__item-price-old-wrap {
    display: flex;
    justify-content: flex-end;
}
.products__item-price-old {
    text-decoration: line-through;
    color: var(--color-gray);
    font-size: 13px;
    line-height: 16px;
    border-bottom: 2px dashed var(--color-gray-line);
}
.products__item-price-price .tooltip {
    width: 240px;
    top: 50%;
    right: -10px;
}
.tooltip__text-wrap{
    display: flex;
    justify-content: space-between;
}
.products__item-price-price .tooltip .tooltip__text-wrap p:first-of-type  {
    color: var(--color-gray);
}
.products__item-price-price .tooltip .tooltip__text-wrap p {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}
.missing__item-description {
    display: flex;
}
.missing__items {
    align-items: flex-start;
}
.missing-description__img img{
    filter: grayscale(1);
}
.missing-description__info-title,
.missing-description__info-color,
.missing-description__info-size {
    color: var(--color-gray);
}
.delivery__items,
.payment__items,
.recipient__items {
    background-color: var(--color-white);
    border-radius: 16px;
    padding: 16px 24px 24px 24px;
    margin-bottom: 16px;
}
.recipient__items {
    margin-bottom: 50px;
}
.delivery__items-head,
.payment__items-head {
    display: flex;
    justify-content: space-between;
}
.delivery__items-head h3,
.payment__items-head h3,
.recipient__items-head h3{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.24px;
    margin-bottom: 16px;
}
.delivery__items-head button,
.payment__items-head button{
    color: var(--color-magenta);
}
.delivery__items-grid {
    display: grid;
    column-gap: 32px;
    row-gap: 16px;
    grid-template: repeat(2, 1fr)/repeat(2, max-content);

}
.delivery__items-grid .grid-col {
    display: flex;
}
.address-wrapp {
    display: flex;
    flex-direction: column;
}
.delivery__items-grid-left p{
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}
.delivery__items-grid-rigth p{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.delivery__items-grid-rigth span{
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}
.delivery__items-return-shipping {
    display: flex;
    align-items: center;
    gap: 8px;
}

.delivery__items-return-shipping-description .tooltip {
    top: 140%;
    width: 100%;
    right: 0;
}
.delivery__items-grid-rigth-img {
    position: relative;
    display: inline-block;
    margin-right: 4px;
    aspect-ratio: 40 / 56;
    max-height: 56px;
}
.delivery__items-grid-rigth-img img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
}

.payment__items-num {
    display: flex;
    gap: 8px;
}
.payment-edit__num {
    display: flex;
    gap: 12px;
    margin-bottom: 8px;
}
.payment-edit__num p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.payment__items span {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: var(--color-gray);
}
.recipient__items form {
    max-width: 700px;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}
.recipient__data {
    display: flex;
    gap: 24px;
}
.recipient__input {
    width: 100%;
    position: relative;
}
.recipient__input input{
    width: 100%;
    border: none;
    padding: 0 0 5px 0;
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.input__description {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    margin-top: 4px;
}
.recipient__data:first-of-type {
    margin-bottom: 32px;
}

.recipient__data .recipient__input .input__placeholder {
    color: var(--color-gray);
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
}

.recipient__data .recipient__input input:focus ~ .input__placeholder {
    top: -24px;
    font-size: 13px;
}
.active-placeholder {
    top: -24px !important;
    font-size: 13px !important;
}
    /*.main__cart-right {*/
/*    width: calc(100/12*3 - 40px);*/
/*}*/

.cart-total {
    background: var(--color-white);
    padding: 16px 24px 24px 24px;
    margin-top: 22px;
    position: sticky;
    top: 10px;
    border-radius: 16px;
    box-shadow:
            0 0 1px 0 rgba(0, 0, 0, 0.30),
            0 2px 10px 0 rgba(0, 0, 0, 0.15);

}
.cart-total__price {
    margin-bottom: 24px;
}

.cart-total__price-item {
    display: flex;
    justify-content: space-between;
}

.cart-total__price-item:first-child {
    margin-bottom: 8px;
}

.cart-total__price-title {
    display: flex;
}

.cart-total__price-currency {
    display: flex;
    gap: 8px;
}

.cart-total__price-result{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.24px;
}

.cart-total__price-other {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.cart-total__shipping {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 12px;
}

.cart-total__shipping-title {
    display: flex;
    justify-content: space-between;
}

.cart-total__shipping-title h3{
    font-size: 16px;
    line-height: 24px;
}

.cart-total__shipping-description {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}

.cart-total__shipping-title-date{
    color: var(--color-magenta);
    text-decoration: underline dashed var(--color-magenta-opacity);
    text-underline-offset: 5px;
}

.cart-total__return-shipping {
    background-color: var(--color-smoky);
    display: flex;
    padding: 8px;
    border-radius: 8px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    margin-bottom: 24px;
}

.delivery__items-return-shipping-description,
.cart-total__return-shipping-description p, span {
    font-size: 13px;
}
.delivery__items-return-shipping-description-green,
.cart-total__return-shipping-description-green {
    color: var(--color-green);
}

.cart-total__return-shipping-description .tooltip {
    width: 130%;
    right: -50px;
    top: 120%;
}

.cart-total__payment-title{
    display: flex;
    justify-content: space-between;
}

.cart-total__payment-title h4{
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    margin: 0;
}

.cart-total__payment-edit {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

.payment-edit__logo {
    width: 32px;
    height: 24px;
    display: flex;
    border-radius: 4px;
    background: var(--color-smoky);
    justify-content: center;
    align-items: center;
}

.cart-total__payment-edit span {
    font-size: 13px;
    line-height: 16px;
}

.cart-total__pay{
    border-radius: 8px;
    background: var(--color-smoky);
    padding: 8px 8px 12px 8px;
    margin-bottom: 24px;
}

.cart-total__pay label span, span {
  font-size: 13px;
}

.cart-total__order-btn {
    color: var(--color-white);
    background: var(--color-magenta);
    border-radius: 8px;
    padding: 0 32px;
    height: 44px;
    width: 100%;
    font-size: 16px;
    margin-bottom: 12px;
}

.cart-total__order-agreement {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}
@media(max-width: 992px) {
    .main__cart-container {
        grid-template-columns: 1fr;
    }

    .main__cart-right {
        margin-left: 0;
    }

    .main__cart-right form {
        position: initial;
    }

    .cart-total__shipping,
    .cart-total__payment {
        display: none;
    }
}
@media(max-width: 767px) {
    .cart-total__pay,
    .cart-total__return-shipping {
        background: var(--color-smoky-dark);
    }

    .cart-total {
        padding: 0;
        box-shadow: none;
        border-radius: 0;
        background: none;
    }

    .delivery__items {
        margin: 0 -1.5rem 17px;
    }
    .payment__items {
        margin: 0 -1.5rem 17px;
    }
    .recipient__items {
        margin: 0 -1.5rem;
    }
}


@media(max-width: 560px) {
    .mobile-hide {
        display: none;
    }
    .main__cart-container {
        padding-top: 10px;
        margin-bottom: 17px;
        gap: 0;
    }

    .main__cart-left {
        margin-top: 0;
    }

    .recipient__items {
        margin-bottom: 46px;
    }

    .main__cart-left-title {
        font-size: 20px;
        margin-bottom: 11px;
        margin-left: 3px;
    }

    .cart__accordion {
        padding-right: 7px;
    }

    .cart__accordion .custom-checkbox {
        margin-left: 3px;
    }
    .missing__items,
    .products__items {
        margin-left: 3px;
        flex-direction: column;
    }

    .missing__items:not(:last-of-type),
    .products__items:not(:last-of-type) {
        padding-bottom: 16px;
        margin-bottom: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }



    .products__item-description {
        position: relative;
        margin-bottom: 12px;
    }

    .products__item-description .custom-checkbox {
        position: absolute;
        top: 5px;
        left: 4px;
        z-index: 5;
    }

    .products__item-description .custom-checkbox span {
        margin-top: 0;
    }

    .item__price-mobile {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 2px;
    }

    .item-description__info-title {
        margin-bottom: 7px;
    }

    .item-description__info-title a {
        font-size: 14px;
        line-height: 20px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 2;
    }

    .products__item-price-price,
    .item-description__info-store {
        display: none;
    }

    .item__sum-discountless .dotted {
        background-position: 0 75%;
    }

    .item__sum-discountless .line-through {
        margin-left: 5px;
        text-decoration: line-through;
        color: var(--color-gray);
        font-size: 13px;
        line-height: 16px;
        border-bottom: 2px dashed var(--color-gray-line);
        top: 5px;
    }
    .tooltip__text-wrap p {
        font-size: 13px;
        line-height: 16px;
    }
    .item__sum-total-value {
        letter-spacing: 0;
    }

    .item-description__img {
        flex: 0 0 auto;
        max-height: 106px;
    }

    .item-description__img a .info-size__mobile {
        display: block;
    }

    .products__item-count {
        margin-bottom: 0;
        width: 80px;
        border-radius: 4px;
    }

    .item-description__info {
        max-width: none;
        padding-right: 0;
        flex-grow: 1;
    }

    .products__item-price {
        display: block;
        width: auto;
    }

    .products__item-quantity {
        display: flex;
        justify-content: space-between;
        max-width: none;
        gap: 16px;
        align-items: center;
    }

    .products__item-quantity-btn {
        gap: 24px;
        /* margin-right: 8px; */

        position: relative;
        top: 2px;
        right: 7px;
    }

    .products__item-stay {
        margin-bottom: 0;
        margin-right: 27px;
        display: flex;
    }

    .products__item-count-minus {
        padding: 4px 0 4px 8px;
    }

    .products__item-count-input {
        width: 40%;
        flex: initial;
        font-size: 14px;
        padding-bottom: 2px;
    }

    .products__item-count-plus {
        padding: 4px 8px 4px 0;
    }

    .item__sum-discountless .tooltip {
        right: 10%;
        top: 105%;
    }

    .item__sum-discountless .tooltip.tooltip-top {
        top: initial;
        bottom: 100%;
    }



    .missing__items-wrapper  {
        margin-bottom: 31px;
    }

    .missing__items-wrapper .missing__item-btn-wrap {
        width: 100%;
        justify-content: end;
    }
    .missing__item-btn {
        gap: 24px;
        margin-right: 8px;
    }
    .missing__items-wrapper .missing__items:not(:last-of-type) {
        margin-bottom: 14px;
    }
    .delivery__items-head {
        margin-bottom: 8px;
    }
    .delivery__items-head h3 {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: -0.2px;
        margin-bottom: 0;
    }
    .delivery__items-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        column-gap: 0;
        row-gap: 0;
    }
    .delivery__items-grid-rigth img {
        margin-top: 12px;
    }
    .delivery__items-grid-rigth {
        margin-bottom: 16px;
    }
    .delivery__items-grid-rigth:last-of-type {
        margin-bottom: 24px;
    }

    .delivery__items-return-shipping {
        padding: 1px 7px 0 7px;
    }
    .payment__items-head {
        margin-bottom: 8px;
    }

    .payment__items-head h3 {
        font-size: 20px;
        margin-bottom: 0;
    }
    .recipient__items-head h3 {
        font-size: 20px;
    }

    .recipient__data {
        flex-direction: column;
    }

    .recipient__data:not(:last-of-type) {
        margin-bottom: 24px;
    }
    dialog {
        width: 100% !important;
        height: 100% !important;
        max-width: initial;
        max-height: initial;
        border-radius: 0 !important;
    }

    .dialog__wrapper {
        padding: 16px;
    }

    .payment-dialog__form .dailog__choose-btn,
    .ship-dialog__form .dailog__choose-btn {
        width: 100%;
    }
}
@media(max-width: 350px) {
    .delivery__items {
        margin: 0 -13px 18px;
        padding: 16px;
    }
    .payment__items {
        margin: 0 -13px 18px;
        padding: 16px;
    }

    .recipient__items {
        margin: 0 -13px 8px;
        padding: 16px;
    }
    .cart-total__price {
        margin-bottom: 16px;
    }
    .cart-total__return-shipping {
        margin-bottom: 16px;
    }
    .recipient__items-head {
        margin-bottom: 21px;
    }

    .recipient__data {
        gap: 29px;
    }

    .recipient__data:not(:last-of-type) {
        margin-bottom: 29px;
    }
}
@media(max-width: 321px) {

    .main__cart-right form {
        padding: 0 3px;
    }

    .cart-total__price-result{
        font-size: 20px;
        line-height: 28px; /* 140% */
        letter-spacing: -0.2px;
    }

    .main__total-price--title {
        margin-bottom: 4px;
    }

    .cart-total__shipping {
        margin-bottom: 16px;
    }
}