*,
*::before,
*::after {
    box-sizing: border-box;
}


ul[class],
ol[class] {
    padding: 0;
}


body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}


ul[class],
ol[class] {
    list-style: none;
}


a {
    text-decoration: none;
    color: inherit;
}


button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; // Yeah, yeah everybody write about it
}
input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}
input {outline:none;}

.notification {
    position: absolute;
    padding: 1px 5px;
    border-radius: 16px;
    background: var(--color-notification);
    font-size: 10px;
    font-weight: 700;
    line-height: 13px;
    color: var(--color-white);
    top: -3px;
    right: 0;
}


