:root {
    --color-violet: #6725A8;
    --color-white: #fff;
    --color-smoky: #F6F6FA;
    --color-gray: #9797AF;
    --color-green: #0CB477;
    --color-magenta: #CB11AB;
    --color-magenta-opacity: #CB11AB33;
    --color-black: #000;
    --color-notification: #FF3B30;
}